@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-overlay {
  background: linear-gradient(
    180deg,
    rgba(4, 0, 24, 0.88) 19.66%,
    rgba(0, 0, 0, 0.04) 117.35%
  );
  backdrop-filter: blur(2px);
}
#exampleFrameBottomModal,
#defaultModal,
#rightTopModal2,
#rightTopModal1 {
  backdrop-filter: blur(5px);
}
.custom-upload {
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
}

.custom-upload i {
  font-size: 18px;
  margin-right: 10px;
  color: #1f1f1f;
}

.upload-text {
  font-weight: normal;
  color: #1f1f1f;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radius {
    border-radius: 10px;
    overflow: hidden;
    width: fit-content;

  }
  
  .gradient-border-bg {
    border: 3px solid;
    border-image: linear-gradient(90deg, #3740F9 0%, #FFF2AE 43.39%, #E053A5 100%) 1;
    padding: 10px;
    border-radius: 5px;
    background: #e2e2e26c;
    text-align: center;
    color: white;
    font-weight: 700;
    width: fit-content;
  }
  .top-grad{
    background: radial-gradient(
    50% 50% at 0% 0%,
    #024A4A 0%,
    rgba(217, 217, 217, 0) 100%
  );
    top: 0px;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    z-index: -2;
  }
  .top-grad-2{
    background: radial-gradient(
    50% 50% at 0% 0%,
    #024A4A 0%,
    rgba(217, 217, 217, 0) 100%
  );
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    z-index: -2;
    transform: scaleX(-1);
  }
  body{
    scroll-behavior: smooth;
  }
  .fade-enter-active, .fade-leave-active {
    transition-property: opacity;
    transition-duration: .25s;
  }
  
  .fade-enter-active {
    transition-delay: .25s;
  }
  
  .fade-enter, .fade-leave-active {
    opacity: 0
  }
/* @keyframes curvedshadow {
  0% {
    box-shadow: 10px 10px 0px 0px #ed7a07;
  }
  50% {
    box-shadow: -10px 10px 0px 0px #ed7a07;
  }
  100% {
    box-shadow: 10px 10px 0px 0px #ed7a07;
  }
} */
.contact-form input{
  border:none
}
.contact-form textarea:focus,
.contact-form input:focus{
  border:none;
  outline: none;
}
.sticked-header-offset {
  margin-top: -100px;
}
.navbar ul.scrolled {
  margin-top: 0px;
}
#header.sticked {
  position: fixed;
}
html {
  scroll-behavior: smooth;
}
.roundedvector::before {
  content: url('/src/assets/img/roundvector.svg');
  position: absolute;
  margin-left: -25px;
  margin-top: -2px;
  z-index: -10;
  width: 48%;
}
.roundedvectortwo::before {
  content: url('../img/roundlong.svg');
  position: absolute;
  margin-left: -18px;
  margin-top: -2%;
  z-index: 0;
  width: 50%;
}
.roundedvectorthree::after {
  content: url('../img/roundlong.svg');
  position: absolute;
  margin-left: -21%;
  margin-top: -11%;
  z-index: 0;
  width: 33%;
}
h1.product::before {
  content: url('../img/roundvector.svg');
  position: absolute;
  margin-left: -3%;
  margin-top: 3px;
  z-index: 10;
  width: 36%;
}
.technologyblock::before {
  content: url('../img/roundvector.svg');
  position: absolute;
  margin-top: -2%;
  margin-left: -5%;
  z-index: -10;
  width: 32%;
}
.technology::before {
  content: url('../img/roundvector.svg');
  position: absolute;
  margin-left: -6%;
  z-index: -10;
  width: 35%;
}
@media (min-width: 768px) {
  .roundedvector::before {
    margin-top: -3%;
    margin-left: -8%;
    z-index: -10;
    width: 43%;
  }
  .technologyblock::before {
    margin-left: -4%;
    z-index: -10;
    width: 30%;
  }
  .technology::before {
    margin-left: -5%;
    z-index: -10;
    width: 32%;
  }
  .roundedvectortwo::before {
    margin-left: -8%;
    z-index: -10;
    width: 48%;
  }
  .roundedvectorthree::after {
    margin-top: -12%;
    margin-left: -13%;
    z-index: 0;
    width: 40%;           
  }
  h1.product::before {
    margin-left: -5%;
    margin-top: 1px;
    z-index: 0;
    width: 38%;
  }
}
.technology{
  position: relative;
}
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.grad-button {
  border-radius: 10px;
  border-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='none'%3e%3cpath stroke='url(%23a)' stroke-width='2' d='M10 1h80a9 9 0 0 1 9 9v80a9 9 0 0 1-9 9H10a9 9 0 0 1-9-9V10a9 9 0 0 1 9-9Z'/%3e%3cdefs%3e%3clinearGradient id='a' x1='0%' y1='50%' x2='100%' y2='50%' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0%' stop-color='%233740F9'/%3e%3cstop offset='43.39%' stop-color='%23FFF2AE'/%3e%3cstop offset='100%' stop-color='%23E053A5'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e") 8 / 8px stretch;
}
.grad-button-new {
  border-radius: 10px;
  border: 1px solid white; /* Initial white border */
}

.grad-button-new:hover {
  border-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='none'%3e%3cpath stroke='url(%23b)' stroke-width='1' d='M10 1h80a9 9 0 0 1 9 9v80a9 9 0 0 1-9 9H10a9 9 0 0 1-9-9V10a9 9 0 0 1 9-9Z'/%3e%3cdefs%3e%3clinearGradient id='b' x1='0%' y1='50%' x2='100%' y2='50%' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0%' stop-color='%23E053A5'/%3e%3cstop offset='43.39%' stop-color='%23FFF2AE'/%3e%3cstop offset='100%' stop-color='%233740F9'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e") 8 / 8px stretch;
}
